@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 14px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  text-transform: none;
  outline: transparent;
}

.hero {
  background: url("./../images/big-leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero:after, .hero:before {
    display: none;
  }
}
.hero:before {
  content: url("./../images/corner-leaf.png");
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
}
.hero:after {
  content: url("./../images/leafs-and-barries.png");
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
}

.hero__title-section {
  width: 39%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    margin-bottom: 1.1111111111rem;
    width: 22.2222222222rem;
    height: 22.2222222222rem;
    background: url("./../images/tablets/hero-bars.png") center center/contain no-repeat;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__title-section:before {
    width: 13.8888888889rem;
    height: 13.8888888889rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.hero__container {
  background: url("./../images/chocolates.png") left 95% center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.8333333333rem 0;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 3.2rem;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.6111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0px max(15px, (100% - 330px) / 2);
    margin-bottom: 0.7777777778rem;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.6666666667rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature__icon {
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.1111111111rem;
  line-height: 1rem;
}

.feature {
  display: flex;
}

.feature__icon-symbol {
  fill: #C6F7FF;
  width: 2.7777777778rem;
  height: 2.5rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.3333333333rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
}
.btn_theme_green {
  background: #0b4d3c;
  color: #fff;
}
.btn_theme_green:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn_theme_transparent {
  background: transparent;
  color: #000;
  text-transform: none;
  padding: 1.1666666667rem 1rem;
  font-weight: normal;
  font-size: 1rem;
}
.btn_theme_transparent:hover {
  color: #0b4d3c;
}
.btn_theme_white {
  background: #fff;
  color: #0b4d3c;
}
.btn_theme_white:hover {
  color: #fff;
  background: #0b4d3c;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_font_color_green {
  color: #0b4d3c;
}
.section_font_color_green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 1.9444444444rem;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 2.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    margin-bottom: 0.8333333333rem;
  }
}
.benefits__item:before {
  content: url("./../images/separator.png");
  position: absolute;
  top: 3.1666666667rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 6.7777777778rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 375px) {
  .benefit__image-wrapper {
    width: 5.5555555556rem;
    height: 5.5555555556rem;
  }
}

.benefit__image {
  margin-bottom: 0.6666666667rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefit__icon {
  width: 3.9444444444rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #292929;
}

.benefit__title {
  color: #292929;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.7777777778rem;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.7222222222rem;
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 2.6666666667rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    margin-bottom: 0.8333333333rem;
  }
}

.benefits-section {
  position: relative;
  background: url("./../images/benefits/benefits-bg-leaf.png") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 10%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  position: absolute;
  content: url("./../images/benefits/bars-and-berries.png");
  bottom: -6.6666666667rem;
  left: 0;
  z-index: 10;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.reviews__display {
  background: #F8FAF9 url("./../images/previews/blackberry.png") top 5% right no-repeat;
  padding: 2.3333333333rem 9.1666666667rem 2.5555555556rem 2.3333333333rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.8333333333rem;
  min-height: 15.5555555556rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.3333333333rem 1.2777777778rem 3rem;
  }
}
@media screen and (max-width: 375px) {
  .reviews__display {
    padding: 1.6666666667rem 1.1111111111rem;
    margin-bottom: 0;
    background: #F8FAF9;
  }
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}

.reviews__display-inner {
  display: flex;
  position: absolute;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__display-inner.active {
  position: static;
  opacity: 1;
  pointer-events: upset;
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.3888888889rem;
    height: 7.5rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.2777777778rem;
  margin-top: 1.2777777778rem;
  color: black;
}

.reviews__text {
  margin-bottom: 0.7222222222rem;
}

.reviews__author {
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 0.3333333333rem;
}
.interactive-avatar:last-child {
  margin-right: 0;
}
.interactive-avatar_active {
  box-shadow: 0 0 0 4px #365A4A;
}
.interactive-avatar:hover {
  box-shadow: 0 0 0 4px #365A4A;
}

.interactive-avatar__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  background: url("./../images/previews/strawberry-bg.png") right 4% top 5% no-repeat;
  position: relative;
}
@media screen and (max-width: 480px) {
  .reviews-section {
    background: none;
  }
}
.reviews-section::before {
  position: absolute;
  content: url("./../images/previews/berries-left.png");
  left: 0;
  bottom: -4.4444444444rem;
}
@media screen and (max-width: 480px) {
  .reviews-section::before {
    display: none;
  }
}

.order-section {
  background: url("./../images/order/leaf.png") right bottom 14% no-repeat, url("./../images/order/one-berry.png") left 9% bottom 6% no-repeat, url("./../images/order/form-bg.png") center center no-repeat;
}
@media screen and (max-width: 768px) {
  .order-section {
    background: url("./../images/order/form-bg.png") center center no-repeat;
  }
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 17%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.2777777778rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.5rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 0.9444444444rem 0.6111111111rem;
  border: 0.1666666667rem solid transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.3888888889rem 0.6111111111rem;
  }
}
.form__input_textarea {
  height: 8.4444444444rem;
  resize: none;
  margin-bottom: 1.2777777778rem;
}
@media screen and (max-width: 768px) {
  .form__input_textarea {
    height: 4.7222222222rem;
  }
}
.form__input:focus {
  border-color: #DEE2BD;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__controls-checkbox {
  margin-bottom: 2.2777777778rem;
}

.form__btns {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form__btns {
    justify-content: center;
  }
}
.form__btns input {
  cursor: pointer;
  outline: transparent;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
    margin-right: 0.5555555556rem;
  }
}
.radio_checkbox .radio__visible {
  border-radius: 0;
}
.radio_checkbox .radio__visible:before {
  background: url("./../images/order/check_icon.png") center center no-repeat;
}

.radio__elem {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.radio__elem:focus ~ .radio__visible {
  border: 2px solid #DEE2BD;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  background: #365A49;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.5rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-pic {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
  fill: #fff;
}

.phone-number__text {
  white-space: nowrap;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.hamburger {
  position: fixed;
  cursor: pointer;
  z-index: 1000;
  top: 20px;
  right: 10%;
  width: 24px;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;
}
.hamburger_active .hamburger__plank:nth-child(1) {
  opacity: 0;
}
.hamburger_active .hamburger__plank:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger_active .hamburger__plank:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px) translateX(5px);
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.map-section {
  position: relative;
}

.map {
  display: flex;
  flex: 1;
}

.map__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts__place {
  color: #292929;
}

.phone-number__icon-green {
  fill: #0b4d3c;
}

.contacts {
  font-style: normal;
  font-size: 1.1666666667rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__phone {
  color: #497870;
}

.socials__item__icon {
  fill: #B3B3B3;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 14px;
  cursor: pointer;
}

.socials__item_active .socials__item__icon {
  fill: #292929;
}

.socials__item__icon:hover {
  fill: #292929;
}

.product__ingredients {
  position: relative;
}
@media screen and (max-width: 768px) {
  .product__ingredients {
    display: none;
  }
}

.product__ingredients-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5.0555555556rem;
  width: 5.0555555556rem;
  background: #86C3D7;
  border-radius: 3%;
  margin-bottom: 1.2777777778rem;
  cursor: pointer;
}

.product__ingredients-image-title {
  font-size: 0.7777777778rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.product__ingredients__icon {
  fill: #fff;
  width: 2.5555555556rem;
  height: 2.5555555556rem;
  margin-bottom: 4px;
}

.product__container {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .product__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.product__col {
  display: flex;
  flex: 1;
  margin-right: 1.3333333333rem;
}

.product__col:last-child {
  margin-right: 0;
}

.product__col-content {
  padding: 0.5555555556rem 1.6666666667rem 0.5555555556rem 1.1111111111rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .product__col-content {
    align-items: center;
  }
}

.products-section {
  background: #F8FAF9;
  position: relative;
}
.products-section::before {
  content: url("./../images/products/product-bg-leaf.png");
  position: absolute;
  right: 0;
  bottom: -13.3333333333rem;
}

.product__title {
  font-size: 2rem;
  text-align: start;
  margin-bottom: 1.2777777778rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .product__title {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .product__title {
    padding: 0 max(20px, (100% - 450px) / 2);
  }
}

.product__values-value {
  font-weight: bold;
  margin-bottom: 1.3333333333rem;
}

.product__price {
  color: #151515;
  font-size: 3.3333333333rem;
}

.product__text {
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .product__text {
    padding: 0 max(30px, (100% - 380px) / 2);
    text-align: center;
  }
}

.product__values-titles {
  line-height: 1;
}

.product__values {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .product__values {
    text-align: center;
  }
}

.product__values-call {
  min-width: 8.2222222222rem;
}

.product__pic-button {
  width: 100%;
  height: 100%;
}

.product__img {
  width: 27.7777777778rem;
  height: 26.1111111111rem;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .product__img {
    width: 22.7777777778rem;
    height: 20.5555555556rem;
  }
}
@media screen and (max-width: 768px) {
  .product__img {
    width: 21.6666666667rem;
    height: 20rem;
  }
}
@media screen and (max-width: 375px) {
  .product__img {
    width: 17.7777777778rem;
    height: 16.6666666667rem;
  }
}

.products-slider {
  position: relative;
}
.products-slider .bx-wrapper {
  border: 0 !important;
  background: transparent;
  box-shadow: none;
}

.product-slider__arrow {
  background: url("./../arrow.svg") center center no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  width: 0.7222222222rem;
  height: 1.5555555556rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.product-slider__arrow_direction_prev {
  left: 0;
}
.product-slider__arrow_direction_next {
  transform: rotate(-180deg);
  right: 0;
}

.fullscreen-menu {
  background: #313131;
  position: fixed;
  z-index: 500;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  display: flex;
  opacity: 0;
  transition: all 0.4s;
}
.fullscreen-menu .menu_vertical .menu__list .menu__item {
  margin-right: 0;
}
.fullscreen-menu .menu_vertical .menu__list {
  flex-direction: column;
}
.fullscreen-menu_active {
  left: 0;
  opacity: 1;
}

.menu_vertical {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .menu_vertical {
    display: flex;
  }
}

.product__ingredients-content {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 2%;
  padding: 1.3888888889rem 1.3888888889rem;
  width: 15rem;
  font-size: 0.8888888889rem;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.product__ingredients-content_active {
  display: inline-block;
}

.ingridient__icon {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  margin-right: 0.6666666667rem;
}

.product__ingredients__list {
  display: flex;
  flex-direction: column;
}

.product__ingredients__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.1111111111rem;
}
.product__ingredients__item:last-child {
  margin-bottom: 0;
}

.ingridient__icon__beans, .ingridient__icon__almond {
  width: 1.3333333333rem;
  height: 1.3333333333rem;
}

.ingridient__text {
  width: 152px;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
  }
}

.team__item {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 1.1111111111rem;
  max-width: 12.2222222222rem;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-right: 0;
  }
}

.team__member {
  height: 16.1111111111rem;
  margin-bottom: 1.1111111111rem;
}

.team__title {
  font-size: 1.1666666667rem;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.1111111111rem;
}
.team__title:after {
  content: "";
  display: block;
  border: 4px solid transparent;
  border-top: 7px solid #365A49;
  display: block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-bottom-width: 0;
}
.team__title_active:after {
  transform: rotate(180deg);
}

.team_version_desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__content {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
  text-align: center;
}

.team__content__info {
  font-weight: 300;
}

.team_version_mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team_version_mobile {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .team_version_desktop {
    display: none;
  }
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 1.9444444444rem 3.3333333333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal__content {
  margin-bottom: 1.6666666667rem;
  color: #000;
}

.input-error {
  border-color: hotpink;
}