.benefit{
  text-align: center;

  @include phones{
    display:flex;
    text-align: left;
  }
}
.benefit__image-wrapper{
  display: inline-block;
  width: rem(126px);
  height: rem(122px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
.benefit__image{
  margin-bottom: rem(12px);

  @include phones{
    margin-bottom: 0;
    margin-right: rem(20px);
  }
}



.benefit__icon{
  width: rem(71px);
  height: rem(72px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: #292929;
}


.benefit__title{
  color: #292929;
  font-size: rem(27px);
  font-weight: bold;
  margin-bottom: rem(14px);
}