.btn{
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(21px) rem(42px);
  text-transform: uppercase;
  border: none;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;

    &_theme_green{
      background: $darkGreen;
      color: #fff;
      &:hover{
        color: $darkGreen;
        background: #fff;
      }
    }

    &_theme_transparent{
      background: transparent;
      color: #000;
      text-transform: none;
      padding: rem(21px) rem(18px);
      font-weight: normal;
      font-size: rem(18px);
      &:hover{
        color: $darkGreen;
        
      }
    }

    &_theme_white{
      background: #fff;
      color: $darkGreen;
      &:hover{
        color: #fff;
        background: $darkGreen;
      }
    }
}
