
.contacts__place{
  color: #292929;
}
.phone-number__icon-green{
  fill: $darkGreen;
}

.contacts{
  font-style: normal;
  font-size: rem(21px);
  color: #010101;

  @include phones{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contacts__phone{
  color: #497870;
}