.duration__length{
  width: 100%;
  height: rem(4px);
  border-radius: 1px;
  background-color: #626262;
  appearance: none;
  outline: none;
}
.duration{
  display: flex;
  align-items: center;
  flex: 1;
}
.duration__img{
  padding: rem(5px) rem(20px);
  cursor: pointer;
}
.duration__length_other{
  width: rem(58px);
  height: 4px;
}
.duration__length::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background-color: #626262;
  cursor: pointer;
  width: rem(13px);
  height: rem(13px);
  border-radius: 50%;
}