.hamburger{
  position: fixed;
  cursor: pointer;
  z-index: $z-hamburger;
  top: 20px;
  right: 10%;
  width: 24px;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;

    &_active{
      & .hamburger__plank:nth-child(1){
        opacity: 0;
      }
      & .hamburger__plank:nth-child(2){
        transform: rotate(45deg);
      }
      & .hamburger__plank:nth-child(3){
        transform: rotate(-45deg) translateY(-6px) translateX(5px);
      }
    }

  @include tablets{
    display: inline-flex;
  }
}
.hamburger__plank{
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}