.hero{
  background: url("./../images/big-leaf.png")right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: rem(650px);
  color: #fff;
  position: relative;

  @include tablets {
    background-position:right bottom 88%;
  }

  &:after,&:before{
    @include tablets {
      display: none;
    }
  }
  
  &:before{
    content: url("./../images/corner-leaf.png");
    position: absolute;
    bottom: rem(-40px);
    left: 2%;
  }
  &:after{
    content: url("./../images/leafs-and-barries.png");
    position: absolute;
    bottom: rem(-40px);
    right: 0;
  }
}
.hero__title-section{
  width: 39%;

  @include tablets{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before{
      content: "";
      margin-bottom: 16px;
      width: rem(316px);
      height: rem(330px);
      background: url("./../images/tablets/hero-bars.png") center center / contain no-repeat;
    }
  }
}
.hero__icon-section{
  @include tablets{
    display: none;
  }
}
.hero__container{
  background: url("./../images/chocolates.png")left 95% center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(51px) 0;
   
  @include tablets{
    background: none;
  }
}
.hero__main-title{
  font-size: rem(48px);
  line-height: rem(57.6px);
  font-weight: bold;
  margin-bottom: rem(15px);
  text-transform: uppercase;
}
.hero__title-desc{
  font-size: rem(21px);
  margin-bottom: rem(47px);

  @include tablets {
    padding: 0px max(15px, (100% - 330px) / 2);
    margin-bottom: rem(14px);
  }
}