.products-section{
  background: #F8FAF9;
  position: relative;

  &::before{
  content: url("./../images/products/product-bg-leaf.png");
  position: absolute;
  right: 0;
  bottom: rem(-240px);
  }
}
