.reviews-section{
  background: url("./../images/previews/strawberry-bg.png") right 4% top 5% no-repeat;
  position: relative;

    @include phones{
      background: none;
    }

    &::before{
      position: absolute;
      content: url("./../images/previews/berries-left.png");
      left: 0;
      bottom: rem(-80px);

      @include phones{
        display: none;
      }
    }
}