.team{
  display: flex;
  justify-content: space-between;
  align-items: center;
   
  @include tablets{
    padding: 0 10%;
    flex-direction: column;
    align-items: center;
  }
}
.team__item{
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: rem(20px);
  max-width: rem(220px);

  &:last-child{
    margin-right: 0;
  }

  @include tablets{
    margin-right: 0;
  }
}
.team__member{
  height: rem(290px);
  margin-bottom: rem(20px);
}
.team__title{
  font-size: rem(21px);
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(20px);

  &:after{
    content: "";
    display: block;
    border: 4px solid transparent;
    border-top: 7px solid #365A49;
    display: block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-bottom-width: 0;
  }
  
  &_active{
    &:after{
      transform: rotate(180deg);
    }
  }
}
.team_version_desktop .team__content{
  position: absolute;
  top: 100%;
}
.team__content{
  overflow: hidden;
  transition: height .3s;
  height: 0;
  text-align: center;
}
.team__content__info{
  font-weight: 300;
}
