.benefits-section{
  position: relative;
  background: url("./../../images/benefits/benefits-bg-leaf.png") left top 57% no-repeat;

    &::before{
      position: absolute;
      content: url("./../../images/benefits/bars-and-berries.png");
      bottom: -80px;
      left: 0;
    }
}